@use '../../utils/' as *;

.#{$theme-prefix}-product{
    $self: &;
    &-on-sale-wrap{
        position: absolute;
        z-index: 11;
        & span{
            display: inline-block !important;
            font-size: 13px;
            line-height: 1;
            color: var(--sbp-common-white);
            background-color: var(--sbp-common-black);
            padding: 4px 10px 4px;
            margin-bottom: 5px;
            text-transform: capitalize;
            @extend %ff-jost;
            font-weight: 500;
            &.onsale{
                background-color: var(--sbp-theme-primary);
                color: var(--sbp-common-white);
            }
        }
        

        &.badge-position{
            &-default_positon{
                left: 20px;
                top: 20px;
            }
            
            &-left_top{
                left: 20px;
                top: 20px;
            }
    
            &-left_bottom{
                left: 20px;
                bottom: 20px;
            }
            
            &-right_top{
                right: 20px;
                top: 20px;
            }
    
            &-right_bottom{
                right: 20px;
                bottom: 20px;
            }

        }
        
    }
}

span.sb-stock-badge{
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    padding: 4px 12px;
    @extend %ff-jost;
    &.sb-in-stock{
        color: var(--sbp-theme-primary);
        background-color: rgba(9, 137, 255, 0.06);
    }
    &.sb-out-of-stock{
        color: #f61b68;
        background-color: rgba($color: #f61b68, $alpha: .06);
    }
}
